<div>
    <p>Hello {{userName}}, your token is {{token}}</p>

    <h4>Errors for the past {{time}} seconds</h4>
    <ul>
        {{#records}}
        <li>{{details}}</li>
        {{/records}}
    </ul>
</div>